h1 {
    font-size: 80px;
    color: red;
}

h2 {
    color: red;
}

.gobackbtn{
    background-color: rgb(29, 1, 1);
    color: white;
}

.gobackbtn:hover{
    background-color: rgb(118, 32, 230);
    color: white;
}