<div class="vertical-nav">
    <br>
    <img class="my-photo" src="../../assets/images/myphoto.jpg">
    <br>
    <a  routerLink = "/home" routerLinkActive = "active"  
        class="nav-link text-dark">
        <i class="fa fa-home mr-3 fa-fw"></i>
        <span>Home</span>
    </a>
    <a routerLink = "/experience" routerLinkActive = "active" 
      class="nav-link text-dark">
      <i class="fa fa-briefcase mr-3 fa-fw"></i>
      <span>Experience</span>
  </a>
  <a routerLink = "/education" routerLinkActive = "active" 
    class="nav-link text-dark">
    <i class="fa fa-graduation-cap mr-3 fa-fw"></i>
    <span>Education</span>
  </a>
  <a routerLink = "/skills" routerLinkActive = "active"  
      class="nav-link text-dark">
    <i class="fa fa-star mr-3 fa-fw"></i>
    <span>Skills</span>
  </a>
  <a routerLink = "/contact" routerLinkActive = "active" 
      class="nav-link text-dark">
    <i class="fa fa-envelope-o mr-3 fa-fw"></i>
    <span>Contact</span>
  </a>
  <hr>
  <a class="linkedin" href="https://www.linkedin.com/in/theodoros-konstantoulias-615073131" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
  <a class="github" href="https://github.com/thodoriskonstantoulias" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  <a class="github" href="mailto:thodoriskonstantoulias@yahoo.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
</div>
