<div class="vertical-nav">
    <a  routerLink = "/home" routerLinkActive = "active"  
        class="nav-link text-dark">
        <i class="fa fa-home mr-3 fa-fw"></i>
        <span>Home</span>
    </a>
    <a routerLink = "/experience" routerLinkActive = "active" 
      class="nav-link text-dark">
      <i class="fa fa-briefcase mr-3 fa-fw"></i>
      <span>Experience</span>
  </a>
  <a routerLink = "/education" routerLinkActive = "active" 
    class="nav-link text-dark">
    <i class="fa fa-graduation-cap mr-3 fa-fw"></i>
    <span>Education</span>
  </a>
  <a routerLink = "/skills" routerLinkActive = "active"  
      class="nav-link text-dark">
    <i class="fa fa-star mr-3 fa-fw"></i>
    <span>Skills</span>
  </a>
  <a routerLink = "/info" routerLinkActive = "active"  
      class="nav-link text-dark">
    <i class="fa fa-info mr-3 fa-fw"></i>
    <span>Info</span>
  </a>
  <a routerLink = "/contact" routerLinkActive = "active" 
      class="nav-link text-dark">
    <i class="fa fa-envelope-o mr-3 fa-fw"></i>
    <span>Contact</span>
  </a>
</div>
