<div class="vertical-nav">
    <a  routerLink = "/home" routerLinkActive = "active"  
        class="nav-link text-dark">
        <i class="fa fa-home mr-3 text-primary fa-fw"></i>
        Home
    </a>
    <a routerLink = "/experience" routerLinkActive = "active" 
      class="nav-link text-dark">
      <i class="fa fa-briefcase mr-3 text-primary fa-fw"></i>
      Experience
  </a>
  <a routerLink = "/education" routerLinkActive = "active" 
    class="nav-link text-dark">
    <i class="fa fa-graduation-cap mr-3 text-primary fa-fw"></i>
    Education
  </a>
  <a routerLink = "/skills" routerLinkActive = "active"  
      class="nav-link text-dark">
    <i class="fa fa-star mr-3 text-primary fa-fw"></i>
    Skills
  </a>
  <a routerLink = "/info" routerLinkActive = "active"  
      class="nav-link text-dark">
    <i class="fa fa-info mr-3 text-primary fa-fw"></i>
    Info
  </a>
  <a routerLink = "/contact" routerLinkActive = "active" 
      class="nav-link text-dark">
    <i class="fa fa-envelope-o mr-3 text-primary fa-fw"></i>
    Contact
  </a>
</div>
