
.ng-invalid.ng-dirty {
    border-color: red;
    border-width: medium;
}

.ng-valid.ng-dirty{
    border-color: green;
    border-width: medium;
}

.container {
    text-align: center;
}

form {
    width: 50%;
    display: inline-block;  
}

hr{
    background-color: rgb(29, 1, 1);
    height: 1px;
}

