<h1 class="text-center">About me</h1>
<hr>
<div class="col-12 col-sm-6 offset-sm-5 col-md-6 offset-md-3 about-me">
    <p>An enthusiastic, responsible and hardworking software engineer quickly adjusting to new responsibilities. Been able to work well both in a team environment as well as using own initiative.         
    </p>
    <p>
        Passionate about technology trying to learn new things every day by reading a lot and taking part in software development courses (Udemy, Pluralsight etc.).
        Great eye on detail and capable of working under strict deadlines. 
    </p>
    <p>
        Currently working as a software developer in Greece. Always looking for good opportunities.
    </p>
</div>

